@import 'root';

.account{
    position: relative;
    width: 60vw;
    height: 350px;
    margin:2em auto ;
    background-color: #FFF;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 2em;
    border-radius: 2em;
    overflow: hidden;
    .changeForm{
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 2em;
        border-radius: 2em 0 2em 0;
        text-decoration: none;
        cursor: pointer;
        appearance: none;
        background-color: #00CC88;
        color: white;
        z-index: 10;
        transition: background-color 0.3s;
        &:hover{
            background-color: #00BA7C;
        }
        &::after{
            content: 'ایجاد حساب کاربری';
        }
        &:checked{
            background-color: #99BBFF;
            &:hover{
                background-color: #6292F2;
            }
            &::after{
                content: 'ورود به حساب کاربری';
            }
        }

        & ~ form.login{
            transform: translate(-50%,-50%);
        }
        & ~ form.signup{
            transform: translate(100%,-50%) skewX(-60deg);
            visibility: hidden;
        }

        &:checked ~ form.login{
            transform: translate(-200%,-50%) skewX(60deg);
            visibility: hidden;
        }
        &:checked ~ form.signup{
            transform: translate(-50%,-50%);
            visibility: visible;
        }
    }

    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        width: 90%;
        top: 50%;
        left: 50%;
        margin: 0 1em;
        transition: transform 0.5s ease,visibility 0.2s;
        div{
            margin: .75em 0;
            display: flex;
            align-items: center;
            width: 100%;
            label{
                width: 30%;
                text-align: center;
            }
            input:not(input[type=checkbox]){
                box-sizing: border-box;
                width: 70%;
                appearance: none;
                border: none;
                outline: none;
                background-color: #eee;
                padding: 1em;
                border-radius: 1em;
                text-align: center;
                &[type=tel]{
                    direction: ltr;
                }

                &:focus{
                    border: 1px solid $primary-color;
                }

                &::placeholder{
                    color: #000;
                    opacity: 0.5;
                }
            }
            &.remember-forget{
                display: flex;
                margin-right: auto;
                width: 70%;
                div{
                    width: 50%;
                    position: relative;
                    align-items: center;
                    input{
                        position: relative;
                        appearance: none;
                        outline: none;
                        width: 2em;
                        height: 2em;
                        cursor: pointer;
                        margin: 0 1em;
                        &::before,&::after{
                            content: "";
                            display: block;
                            background-size: cover;
                            height: 2em;
                            width: 2em;
                            position: absolute;
                            pointer-events: none;
                            right: 0;
                            top: 50%;
                            transform: translateY(-50%);
                            transition: opacity 0.5s;
                        }

                        &::before{
                            background-image: url('../imgs/Unckecked.svg');
                        }
                        &::after{
                            background-image: url('../imgs/Checked.svg');
                            opacity: 0;
                        }
                        
                        &:checked {
                            &::before{
                                opacity: 0;
                            }
                            &::after{
                                opacity: 1;
                            }
                        }
                    }
                    label { width: 70%;}
                }
                a{
                    width: 50%;
                    color: $primary-color;
                    text-align: center;
                    text-decoration: none;
                    &:hover{
                        color: $primary-hover-color;
                    }
                }
            }

        }
        button{
            margin: .5em 0;
            background-color: $primary-color;
            color: #fff;
            border: none;
            outline: none;
            width: 70%;
            margin-right: auto;
            padding: 1em;
            border-radius: 1em;
            cursor: pointer;
            transition: background-color 0.3s;
            
            &:focus{
                border: 1px solid #000;
            }

            &:hover{
                background-color: $primary-hover-color;
            }

            &#signUpButton{
                background-color: $success-color;
                &:hover{
                    background-color: $success-hover-color;
                }
            }
        }

    }
}
