@charset "UTF-8";
.account {
  position: relative;
  width: 60vw;
  height: 370px;
  margin: 2em auto;
  background-color: #FFF;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 0 2em;
  border-radius: 2em;
  overflow: hidden;
}

.account input.changeForm {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 2em;
  margin: 0;
  width: 14em;
  height: 5em;
  border-radius: 2em 0 2em 0;
  text-decoration: none;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #00B277;
  color: white;
  z-index: 10;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.account input.changeForm:hover {
  background-color: #009563;
}

.account input.changeForm::before {
  display: none;
  top: 0;
}

.account input.changeForm::after {
  background-image: none;
  content: 'ایجاد حساب کاربری';
  color: white;
  z-index: 5;
  opacity: 1;
  position: relative;
  pointer-events: none;
  text-align: center;
  top: 0;
  left: 0;
  display: block;
  height: auto;
  width: auto;
  -webkit-transform: none;
          transform: none;
  font-size: 1em;
}

.account input.changeForm:checked {
  background-color: #0055FF;
}

.account input.changeForm:checked:hover {
  background-color: #0047D6;
}

.account input.changeForm:checked::after {
  content: 'ورود به حساب کاربری';
}

.account input.changeForm ~ form.login {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.account input.changeForm ~ form.signup {
  -webkit-transform: translate(100%, -50%) skewX(-60deg);
          transform: translate(100%, -50%) skewX(-60deg);
  visibility: hidden;
}

.account input.changeForm:checked ~ form.login {
  -webkit-transform: translate(-200%, -50%) skewX(60deg);
          transform: translate(-200%, -50%) skewX(60deg);
  visibility: hidden;
}

.account input.changeForm:checked ~ form.signup {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  visibility: visible;
}

.account form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  margin: 0 1em;
  -webkit-transition: visibility 0.2s,-webkit-transform 0.5s ease;
  transition: visibility 0.2s,-webkit-transform 0.5s ease;
  transition: transform 0.5s ease,visibility 0.2s;
  transition: transform 0.5s ease,visibility 0.2s,-webkit-transform 0.5s ease;
}

.account form div {
  margin: .75em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.account form div label {
  width: 30%;
  text-align: center;
}

.account form div input:not(input[type=checkbox]) {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 70%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  background-color: #eee;
  padding: 1em;
  border-radius: 1em;
  text-align: center;
}

.account form div input:not(input[type=checkbox])[type=tel] {
  direction: ltr;
}

.account form div input:not(input[type=checkbox]):focus {
  border: 1px solid #0055FF;
}

.account form div input:not(input[type=checkbox])::-webkit-input-placeholder {
  color: #000;
  opacity: 0.5;
}

.account form div input:not(input[type=checkbox]):-ms-input-placeholder {
  color: #000;
  opacity: 0.5;
}

.account form div input:not(input[type=checkbox])::-ms-input-placeholder {
  color: #000;
  opacity: 0.5;
}

.account form div input:not(input[type=checkbox])::placeholder {
  color: #000;
  opacity: 0.5;
}

.account form div.remember-forget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  width: 70%;
}

.account form div.remember-forget div {
  width: 50%;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.account form div.remember-forget div input {
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  width: 2em;
  height: 2em;
  cursor: pointer;
  margin: 0 1em;
}

.account form div.remember-forget div input::before, .account form div.remember-forget div input::after {
  content: "";
  display: block;
  background-size: cover;
  height: 2em;
  width: 2em;
  position: absolute;
  pointer-events: none;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.account form div.remember-forget div input::before {
  background-image: url("../imgs/Unckecked.svg");
}

.account form div.remember-forget div input::after {
  background-image: url("../imgs/Checked.svg");
  opacity: 0;
}

.account form div.remember-forget div input:checked::before {
  opacity: 0;
}

.account form div.remember-forget div input:checked::after {
  opacity: 1;
}

.account form div.remember-forget div label {
  width: 70%;
}

.account form div.remember-forget a {
  width: 50%;
  color: #0055FF;
  text-align: center;
  text-decoration: none;
}

.account form div.remember-forget a:hover {
  color: #0047D6;
}

.account form button {
  margin: .5em 0;
  background-color: #0055FF;
  color: #fff;
  border: none;
  outline: none;
  width: 70%;
  margin-right: auto;
  padding: 1em;
  border-radius: 1em;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.account form button:focus {
  border: 1px solid #000;
}

.account form button:hover {
  background-color: #0047D6;
}

.account form button#signUpButton {
  background-color: #00B277;
}

.account form button#signUpButton:hover {
  background-color: #009563;
}
/*# sourceMappingURL=account.css.map */