@import 'root';

body > div.overview, body > div.sendFactor{
    background-color: white;
    border-radius: 1em;
    padding: 2em;
    position: relative;
    @include shadow();
    & > .top{
        width: 100%;
        div.levels{
            width: 70%;
            display: flex;
            span{
                display: grid;
                place-items: center;
                margin: 0 0.5em;
                border-radius: 1em;
                width: 150px;
                height: 2em;
                font-size: 14px;
                text-align: center;
                background-color: #85FFE9;
                position: relative;
                &.passed{
                    background-color: $primary-color;
                    color: #fff;
                    &::before{
                        background-color: $primary-color;
                    }
                }   
                &:first-child{
                    &::before{
                        display: none;
                    }
                }
                &::before{
                    position: absolute;
                    content: "";
                    width: 1em;
                    height: 3px;
                    top: 50%;
                    transform: translateY(-50%);
                    right: -1em;
                    background-color: #85FFE9;
                }
            }
        }
    }

    & > main{
        & > .itemsContainer{
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-top: 1em;
            max-height: 400px;
            overflow-x: hidden;
            overflow-y: auto;
            @include scrollbar();
            padding-left: 1em;
            & > .item{
                margin-top: 0.5em;
                display: flex;
                padding-bottom: 0.5em;
                border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    
                img{
                    width: 100px;
                    height: 100px;
                    border-radius: 1em;
                    margin-left: 1em;
                }
                & > div{
                    display: flex;
                    flex-direction: column;
                    &.info{
                        width: 40%;
                        justify-content: space-between;
                        a{
                            width: 100%;
                            color: black;
                            text-decoration: none;
                        }
    
                        .details, .details > div{
                            display: flex;
                            align-items: center;
                        }
                        .details{
                            width: 100%;
                            .countContainer{
                                border-left: 1px solid rgba(0, 0, 0, 0.3);
                                margin-left: 1em;
                                .count{
                                    display: flex;
                                    align-items: center;
                                    margin: 0 1em;
                                    input{
                                        appearance: none;
                                        background-color: transparent;
                                        outline: none;
                                        border: 3px solid $primary-color;
                                        border-radius: 0.5em;
                                        max-width: 40px;
                                        text-align: center;
                                        font-size: 14px;
                                        padding: 0.5em 0;
        
                                        &::-webkit-outer-spin-button,
                                        &::-webkit-inner-spin-button {
                                        -webkit-appearance: none;
                                        margin: 0;
                                        }
                                    }
                                    button{
                                        background-color: transparent;
                                        outline: none;
                                        border: none;
                                        appearance: none;
                                        cursor: pointer;
                                    }
                                }
                            }
                            .colorContainer{
                                display: flex;
                                width: 50%;
                                div.color{
                                    margin: 0 1em;
                                    width: 35px;
                                    height: 35px;
                                    border-radius: 50%;
                                }
                            }
                        }
                    }
    
                    &.partPrice,&.totalPrice{
                        width: 20%;
                        justify-content: space-between;
                        strong{
                            margin-bottom: 1em;
                        }
                    }
    
                    
                }
                & > button{
                    align-self: center;
                    display: grid;
                    place-items: center;
                    padding: 0;
                    margin: 0;
                    width: 44px;
                    height: 44px;
                    border-radius: 0.5em;
                }
            }
        }
    
        & > div{
            width: 100%;
            margin: 0.5em 0;
            padding: 1em 0;
            border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    
            &:last-of-type{
                border: none;
            }
        }
    
        &.sendInfo > div{
            position: relative;
            
            &.address,&.sendMethod{
                & > div{
                    margin: 0.5em 1em;
                    display: flex;
                    align-items: center;
                    span{
                        font-size: 13px;
                        margin: 0 auto;
                    }
                }
            }
            &.receiver{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                h4{width: 100%; margin-bottom: 1em;}
                padding-left: 4em;
                div{
                    margin-right: 1em;
                }
            }
            button{
                display: flex;
                align-items: center;
                background-color: transparent;
                border: none;
                outline: none;
                cursor: pointer;
                svg{margin-left: 1em; stroke: $primary-color;}
                position: absolute;
                top: 1em;
                left: 2em;
                font-weight: bolder;
                &:hover{
                    color: $primary-hover-color;
                    svg{stroke: $primary-hover-color;}
                }
            }
        }
        &.payment{
            .discount{
                input{
                    & ~ svg{
                        display: none;
                    }
                }
                input[data-applied="true"]{
                    & ~ button{
                        display: none;
                    }
                    & ~ svg{
                        display: block;
                    }
                }
                button{
                    font-size: 14px;
                    padding: 0.5em 1.5em;
                    border-radius: 0.5em;
                }
            }
            .digits{
                ul.itemsContainer{
                    list-style: none;
                    display: flex;
                    margin-top: 1em;
                    overflow-x: scroll;
                    flex-wrap: nowrap;
                    position: relative;
                    @include scrollbar();
                    padding-bottom: 1em;
    
                    li.item{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        border-left: 1px solid rgba(0, 0, 0, 0.3);
                        padding: 0 1em;
                        &:last-of-type{
                            border: none;
                        }
                        img{
                            width: 50px;
                            height: 50px;
                            border-radius: 0.5em;
                        }
                        & > div{
                            display: flex;
                            margin-top: 0.5em;
                            span{
                                display: flex;
                                div{
                                    width: 25px;
                                    height: 25px;
                                    border-radius: 50%;
                                    text-align: center;
                                    margin: 0 0.4em;
                                    background-color: #DADADA;
                                }
                            }
                        }
                        
    
                    }
                }
            }
        }
        
    
        & > a{
            width: fit-content;
            display: flex;
            align-items: center;
            font-weight: bold;
            transition: color 0.3s;
            svg{
                margin: 0 0.5em;
                stroke: $primary-color;
                transition: transform 0.3s,stroke 0.3s;
            }
            &:hover{
                color: $primary-hover-color;
                svg{
                    stroke: $primary-hover-color;
                    transform: translateX(5px);
                }
            }
        }
    }

    & > button#printFactor{
        position: absolute;
        width: fit-content;
        top: 2em;
        left: 2em;
        display: flex;
        align-items: center;
        padding: 1em;
        border-radius: 0.5em;
        svg{
            margin-right: 0.5em;
        }
    }

    aside{
        position: sticky;
        top: 2em;
        border-radius: 1em;
        border: 3px solid $primary-color;
        padding: 1.5em 1em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-height: 30em;
        & > div{
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid rgba(0, 0, 0, 0.3);
            margin: 0.5em 0;
            &:last-of-type{
                border: none;
            }
            span{
                width: fit-content;
                display: flex;
                align-items: center;
                position: relative;
                &:hover{
                    small{
                        opacity: 1;
                    }
                }
                small{
                    position: absolute;
                    top: 0;left: 0;
                    transform: translate(-50%,-120%);
                    width: 20em;
                    padding: 0.5em;
                    background-color: white;
                    @include shadow();
                    opacity: 0;
                    pointer-events: none;
                    border-radius: 5px;
                    transition: opacity 0.3s;
                }
                svg{
                    margin-right: 0.5em;
                }
            }
            & > small.discount{
                margin-right: auto;
                margin-left: 3em;
                font-weight: bold;
                color: $danger-color;
            }
            strong{
                align-self: flex-end;
            }
        }
        a{
            margin: 0;
            border-radius: 0.5em;
        }
    }

    & > .factor{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 3em;
        & > div{
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 1em;
            padding-bottom: 1em;
            margin-bottom: 1em;
            border-bottom: 3px dashed rgba(0, 0, 0, 0.3);
            &:last-of-type{
                border: none;
            }
            h4{
                text-align: center;
                grid-column: span 3;
                padding-bottom: 0.5em;
                width: fit-content;
                place-self: center;
                position: relative;
                &::before,&::after{
                    display: block;
                    content: "";
                    position: absolute;
                    width: 4.5em;
                    height: 0.2em;
                    background-color: rgba(0, 0, 0, 0.2);
                    border-radius: 1em;
                    top: 35%;
                }
                &::before{
                    left: -100%;
                }

                &::after{
                    right: -100%;
                }
            }
            & > div{
                display: flex;
                align-items: center;
                span{
                    min-width: 20%;
                }
                strong{
                    min-width: 60%;
                    text-align: center;
                }
                &.address{
                    grid-column: span 2;
                    strong{
                        text-align: right;
                    }
                }
            }
            &.factorItems{
                width: 100%;
                display: flex;
                flex-direction: column;
                table{
                    text-align: center;
                    th{
                        padding-bottom: 1em;
                        border-bottom: 1px solid #000;
                    }
                    td{
                        height: 3em;
                    }
                    tfoot{
                        td{
                            border-top: 1px solid #000;
                        }
                    }
                }
            }
        }

        & #logo{
            margin-left: 5%;
            font-size: 40px;
            font-weight: 900;
            text-align: left;
            line-height: 40px;
        }
    }
}

.modal{
    display: none;
    position: fixed;
    inset: 0;
    z-index: 8;

    & > .bg{
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        position: absolute;
    }

    & > form{
        margin: 0 5em;
        top: 10%;
        background-color: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(10px);
        border: 3px solid $primary-color;
        border-radius: 1em;
        padding: 1em 2em;
        z-index: 10;
        position: relative;
        h4{
            margin-bottom: 1em;
        }
        & > div{
            margin:0.5em 0;
        }
        & > button{
            margin-right: auto;
        }
        & > .close{
            background-color: transparent;
            color: $danger-color;
            border: none;
            outline: none;
            position: absolute;
            top: 0.5em;
            left: 1em;
            cursor: pointer;
            width: auto;
            font-size: 1.5em;
            font-weight: bolder;
            transition: color .2s;
            &:hover{
                color: $danger-hover-color;
            }
        }
    }

}

.empty{
    background-color: white;
    border-radius: 1em;
    padding: 2em;
    margin: 2em 4em;
    @include shadow();
    display: flex;
    flex-direction: column;
    align-items: center;
    & > *{
        margin: 0.5em 0;
    }

    form{
        width: 50%;
        input{
            width: 100%;
        }
    }
    div{
        a:first-child{
            padding-left: 0.5em;
            margin-left: 0.5em;
            border-left: 0.5px solid $secondary-color;
        }
    }
}