$background-color:#E0F8FF;

@mixin scrollbar {
    /* width */
    &::-webkit-scrollbar {
        width: 10px;
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
        background: #C4C4C4; 
        border-radius: 0.5em;
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #F4F4F4; 
        border-radius: 0.5em;
        border: 3px #C4C4C4 solid;
    }
    
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }
}

// #region main colors
$primary-color:#0055FF;
$success-color:#00B277;
$danger-color:#FF2F2F;
$warning-color:#C7B300;
$secondary-color:#969696;
// #endregion

// #region hover colors
$primary-hover-color:#0047D6;
$success-hover-color:#009563;
$danger-hover-color:#D40C0C;
$warning-hover-color:#A09000;
$secondary-hover-color:#767676;
// #endregion