@import 'root';

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'vazir fd';
}

body{
    background-color: $background-color;
    direction: rtl;
    overflow-x: hidden;

    & > section{
        width: 90%;
        margin: 1.5em auto;
        display: flex;
        flex-direction: column;
         & > div:nth-of-type(1){
            width: 100%;
            display: flex;
            a{
                margin-right: auto;
            }
        }
    }
}

.badge{
    background-color: $primary-color;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    font-size: 12px;
    // line-height: 1.7em;
    color: white;
    text-align: center;
    margin: 0 0.5em;
}

.navbar{
    display: flex;
    width: 100% !important;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
    height: 80px;
    align-items: center ;
    nav{
        display: flex;
        align-items: center ;
        width: 1200px;
        margin: 0 auto;
        a.logo{
            font-family: 'Montserrat';
            font-weight: bold;
            color: black;
            text-decoration: none;
            margin-left: 2em;
        }
        ul{
            list-style: none;
            display: flex;
            align-items: center;
            li{
                margin: 0 0.5em;
                a{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    font-size: 14px;
                    text-decoration: none;
                    color: black;

                    & > div{
                        display: flex;
                        align-items: center;
                    }

                    & svg{
                        transition: transform 0.3s;
                    }
                    &:hover{
                        & > svg{
                            transform: translateY(-5px);
                        }
                        & > div > svg{
                            
                            transform: translateY(3px);
                        }
                    }
                    div > svg{
                        margin: 0 0.5em;
                        transition-delay: 0.1s;
                    }
                }
            }

            &:last-child{
                margin-right: auto;
                & > li{
                    position: relative;
                    &.basket:hover{
                        & > div.basketItems{
                            visibility: visible;
                            opacity: 1;
                            transform : translateY(0%);
                        }
                    }
                    & > div.basketItems{
                        visibility: collapse;
                        position: absolute;
                        z-index: 10;
                        width: 350px;
                        background-color: #fff;
                        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
                        border-radius: 1em;
                        left: 0;
                        min-height: 200px;
                        max-height: 450px;
                        display: flex;
                        justify-content: center;
                        align-content: center;
                        opacity: 0;
                        transform: translateY(5%);
                        transition: opacity 0.3s, visibility 0.3s,transform 0.3s;

                        & > div.items{
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            padding: 1em;
                            div.top{
                                width: 100%;
                                display: flex;
                                span{
                                    font-size: 14px;
                                    opacity: 0.5;
                                    margin: 0 0.5em;
                                }
                                a{
                                    margin-right: auto;
                                    display: flex;
                                    flex-direction: row;
                                    color: $primary-color;
                                    &:hover{
                                        svg{
                                            transform: translateX(-5px);
                                        }
                                    }
                                }
                            }

                            ul{
                                width: 100%;
                                display: flex;
                                flex-direction: column;
                                list-style: none;
                                max-height: 300px;
                                overflow-y: auto;
                                overflow-x: hidden;
                                //@include scrollbar();
                                &::-webkit-scrollbar{
                                    display: none;
                                }
                                li{
                                    width: 100%;
                                    display: flex;
                                    align-items: center;
                                    padding: 0.5em;
                                    border-bottom: 1px solid rgba(0, 0, 0, .4);
                                    &:last-child{
                                        border: none;
                                    }

                                    & > a {
                                        align-self: flex-start;
                                        margin: 0 0.5em;
                                        img{
                                            width: 50px;
                                            border-radius: 0.5em;
                                        }
                                    }

                                    button{
                                        padding: 0;margin: 0;
                                        display: grid;
                                        place-items: center;
                                        border-radius: 0.5em;
                                        width: 30px !important; height: 30px !important;
                                        margin-right: auto;
                                    }
                                    .content{
                                        a{
                                            font-size: 14px;
                                        }
                                        .details{
                                            display: flex;
                                            font-size: 12px;
                                            margin: 0.5em 0;

                                            .count,.color{
                                                display: flex;
                                                align-items: center;
                                            }
                                            .count{
                                                div{
                                                    font-size: 14px;
                                                    margin: 0 1em;
                                                    width: 25px;
                                                    height: 25px;
                                                    background-color: #E0E0E0;
                                                    border-radius: 50%;
                                                    text-align: center;
                                                }
                                            }
                                            .color{
                                                padding-right: 1em;
                                                border-right: 1px solid rgba(0, 0, 0, .2);
                                                div{
                                                    margin: 0 0.5em;
                                                    border-radius: 50%;
                                                    width: 25px;
                                                    height: 25px;
                                                }
                                            }

                                        }
                                        .price{
                                            font-size: 14px;
                                            strong{
                                                margin: 0 0.5em;
                                            }
                                        }
                                    }
                                }
                            }

                            div.goBasket{
                                padding-top: 0.5em 1em;
                                margin-top: 0.5em;
                                display: flex;
                                align-items: center;
                                width: 100%;
                                border-top: 1px solid #000;
                                div.totalPrice{
                                    display: flex;
                                    margin: 0 0.5em;
                                    width: 50%;
                                    flex-direction: column;
                                    strong{
                                        align-self: flex-end;
                                    }
                                }
                                button{
                                    width: 50%;
                                    font-size: 14px;
                                    padding: 1em;
                                    border-radius: 10px;
                                    margin-left: 0;
                                }
                            }
                        }

                        .NoBasketItem{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            margin: auto;
                            span{
                                width: 7vw;
                                background-image: url(../imgs/basket.png);
                                background-size: cover;
                                height: 5.5vw;
                            }
                        }
                    }
                }
            }
        }
    }
}



.dropdown{
    position: relative;
    a{
        &:hover{
            & ~ ul.dropDownMenu{
                animation: showDropDown 0.5s forwards;
            }
        }
    }
    ul.dropDownMenu{
        position: absolute;
        flex-direction: column;
        padding: 1em 2em;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 1em;
        border: 1px solid #fff;
        margin-right: 2em;
        backdrop-filter: blur(10px);
        box-shadow: 0 0 10px rgba(0, 0, 0, .2);
        opacity: 0;
        transform: translateY(10%);
        transition: all 0.3s;
        visibility: hidden;
        z-index: 900;

        &:hover{
            visibility: visible;
            opacity: 1;
            transform: translateY(0%);
        }
        

        & > li.item{
            margin: 0.5em;
            width: 100%;
            a{
                width: 100%;
                &:hover{
                    color: rgba(50, 10, 250, 1);
                }
            }
            ul{
                background-color: #eeeeee;
                padding: 1em 2em;
                margin-top: -2em;
                margin-right: 3.5em;
                z-index: 999;

                &:hover{
                    visibility: visible;
                    opacity: 1;
                    transform: translateY(0%);
                }
            }
        }
    }
}
@keyframes showDropDown {
    0%{
        visibility: visible;
    }
    100%{
        visibility: visible;
        opacity: 1;
        transform: translateY(0%);
    }
}


.searchBox{
    position: relative;
    input{
        width: 25vw;
        background-color: #eee;
        border: none;
        outline: none;
        padding: 1em ;
        border-radius: 2em;

        &::-webkit-search-decoration,
        &::-webkit-search-cancel-button,
        &::-webkit-search-results-button,
        &::-webkit-search-results-decoration {
            -webkit-appearance:none;
        }

        &:valid ~ label{
            display: none;
        }
    }

    button{
        appearance: none;
        border: none; outline: none; background-color: transparent;
        display: flex;
        cursor: pointer;
    }

    label,button{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: transform 0.3s ;
    }
    label{
        font-size: 14px;
        right: 1em;
        margin-right: 1em;
        opacity: 0.7;
        pointer-events: none;
    }
    button{
        padding: 1em 0;
        left: 1em;
        margin-left: 1em;
        &:hover{
            transform: translateY(-50%) scale(1.2);
        }
    }
}


hr{
    width: 95%;
    margin: 0 auto;
    opacity: 0.7;
}


.cards-container{
    display: flex;
    margin: 1em 0;
    width: 100%;
    flex-wrap: nowrap;
    .card{
        background-color: #fff;
        width: 30%;
        max-width: 300px;
        min-width: 280px;
        height: 370px;
        border-radius: 1em;
        display: flex;
        flex-direction: column;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, .2);
        margin: 0.5em;
        position: relative;
        overflow: hidden;

        &:hover{
            .content .bookmark{
                transform: translateY(10%);
                opacity: 1;
            }
        }

        .cardImage{
            width: 100%;
            img{
                width: 100%;
            }
        }
        
        .content{
            width: 90%;
            display: flex;
            flex-direction: column;
            margin: 0 1em;
            height: 100%;
            justify-content: space-between;
            

            .title{
                width: fit-content;
                color: #000;
                text-decoration: none;
                font-size: 20px;
            }

            & > div{
                display: flex;
                align-items: flex-end;
                width: 95%;
                margin: 1em auto;
            }

            .price-container{
                display: flex;
                width: 60%;
                align-items: center;

                svg{
                    margin-left: 0.5em;
                }
                .price{
                    width: 60%;
                    display: flex;
                    flex-direction: column;
                }
                .real-price{
                    display: flex;
                    s{
                        width: 100%;
                        text-align: center;
                        opacity: 0.5;
                        font-size: 14px;
                    }
                    span{
                        margin-right: 0.5em;
                        align-self: flex-start;
                        padding: 0 1em;
                        background-color: #FF455B;
                        color: #fff;
                        border-radius: 1em;
                        font-size: 0.8em;
                    }
                }

                    strong{
                        display: flex;
                        align-items: flex-end;
                    }
            }
            .stars{
                margin-top: 0.5em;
                stroke: $warning-color;
                & .filled {fill: $warning-color; stroke: none;}
            }
            .bookmark{
                display: flex;
                flex-direction: column;
                align-items: center;
                color: #000;
                text-decoration: none;
                margin-right: auto;
                position: absolute;
                top: 0;
                left: 1em;
                transform: translateY(-100%);
                opacity: 0;
                padding: 0.5em;
                z-index: 9;
                transition: transform 0.3s , opacity .3s,stroke 0.5s;

                span{margin-top: 0.5em;}
                & svg{
                    transition: transform 0.3s;
                    stroke: $primary-color;
                }
                &:hover{
                    & > svg{
                        stroke: $primary-hover-color;
                    }
                }
            }

        }
    }
}

footer{
    padding: 1em 5em !important;

    section:first-child{
        h4{
            margin-right: -2em;
        }
        li{
            margin-bottom: 0.5em;
        }
    }

    .dl-app{
        a{
            text-decoration: none;
            margin: 0.5em 0;
            border-radius: 0.5em;
            color: black;
            background-color: #DBDBDB;
            padding: 1em 2em;
            display: flex;
            align-items: center;
            position: relative;
            &::before{
                color: black;
                content: "دانلود اپلیکیشن از";
                position: absolute;
                top: 10px;
                right: 2em;
                font-size: 10px;
                font-weight: bold;
            }
            h4{
                align-self: flex-end;
                margin-left: 1em;
                width: 50%;
                
            }
        }
    }

    button[type=submit]{
        background-color: transparent;
        padding: 0;
        margin: 0;
    }
}