@charset "UTF-8";
*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'vazir fd';
}

body {
  background-color: #E0F8FF;
  direction: rtl;
  overflow-x: hidden;
}

body > section {
  width: 90%;
  margin: 1.5em auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body > section > div:nth-of-type(1) {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body > section > div:nth-of-type(1) a {
  margin-right: auto;
}

.badge {
  background-color: #0055FF;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  font-size: 12px;
  color: white;
  text-align: center;
  margin: 0 0.5em;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100% !important;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1200px;
  margin: 0 auto;
}

.navbar nav a.logo {
  font-family: 'Montserrat';
  font-weight: bold;
  color: black;
  text-decoration: none;
  margin-left: 2em;
}

.navbar nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar nav ul li {
  margin: 0 0.5em;
}

.navbar nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  text-decoration: none;
  color: black;
}

.navbar nav ul li a > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar nav ul li a svg {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.navbar nav ul li a:hover > svg {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.navbar nav ul li a:hover > div > svg {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.navbar nav ul li a div > svg {
  margin: 0 0.5em;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.navbar nav ul:last-child {
  margin-right: auto;
}

.navbar nav ul:last-child > li {
  position: relative;
}

.navbar nav ul:last-child > li.basket:hover > div.basketItems {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.navbar nav ul:last-child > li > div.basketItems {
  visibility: collapse;
  position: fixed;
  z-index: 10;
  width: 350px;
  background-color: #fff;
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 1em;
  left: 10%;
  min-height: 200px;
  max-height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  opacity: 0;
  -webkit-transform: translateY(5%);
          transform: translateY(5%);
  -webkit-transition: opacity 0.3s, visibility 0.3s,-webkit-transform 0.3s;
  transition: opacity 0.3s, visibility 0.3s,-webkit-transform 0.3s;
  transition: opacity 0.3s, visibility 0.3s,transform 0.3s;
  transition: opacity 0.3s, visibility 0.3s,transform 0.3s, -webkit-transform 0.3s;
}

.navbar nav ul:last-child > li > div.basketItems > div.items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
}

.navbar nav ul:last-child > li > div.basketItems > div.items div.top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar nav ul:last-child > li > div.basketItems > div.items div.top span {
  font-size: 14px;
  opacity: 0.5;
  margin: 0 0.5em;
}

.navbar nav ul:last-child > li > div.basketItems > div.items div.top a {
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #0055FF;
}

.navbar nav ul:last-child > li > div.basketItems > div.items div.top a:hover svg {
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}

.navbar nav ul:last-child > li > div.basketItems > div.items ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

.navbar nav ul:last-child > li > div.basketItems > div.items ul::-webkit-scrollbar {
  display: none;
}

.navbar nav ul:last-child > li > div.basketItems > div.items ul li {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.navbar nav ul:last-child > li > div.basketItems > div.items ul li:last-child {
  border: none;
}

.navbar nav ul:last-child > li > div.basketItems > div.items ul li > a {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0 0.5em;
}

.navbar nav ul:last-child > li > div.basketItems > div.items ul li > a img {
  width: 50px;
  border-radius: 0.5em;
}

.navbar nav ul:last-child > li > div.basketItems > div.items ul li button {
  padding: 0;
  margin: 0;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: 0.5em;
  width: 30px !important;
  height: 30px !important;
  margin-right: auto;
}

.navbar nav ul:last-child > li > div.basketItems > div.items ul li .content a {
  font-size: 14px;
}

.navbar nav ul:last-child > li > div.basketItems > div.items ul li .content .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  margin: 0.5em 0;
}

.navbar nav ul:last-child > li > div.basketItems > div.items ul li .content .details .count, .navbar nav ul:last-child > li > div.basketItems > div.items ul li .content .details .color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar nav ul:last-child > li > div.basketItems > div.items ul li .content .details .count div {
  font-size: 14px;
  margin: 0 1em;
  width: 25px;
  height: 25px;
  background-color: #E0E0E0;
  border-radius: 50%;
  text-align: center;
}

.navbar nav ul:last-child > li > div.basketItems > div.items ul li .content .details .color {
  padding-right: 1em;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.navbar nav ul:last-child > li > div.basketItems > div.items ul li .content .details .color div {
  margin: 0 0.5em;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.navbar nav ul:last-child > li > div.basketItems > div.items ul li .content .price {
  font-size: 14px;
}

.navbar nav ul:last-child > li > div.basketItems > div.items ul li .content .price strong {
  margin: 0 0.5em;
}

.navbar nav ul:last-child > li > div.basketItems > div.items div.goBasket {
  padding-top: 0.5em 1em;
  margin-top: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border-top: 1px solid #000;
}

.navbar nav ul:last-child > li > div.basketItems > div.items div.goBasket div.totalPrice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0.5em;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar nav ul:last-child > li > div.basketItems > div.items div.goBasket div.totalPrice strong {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.navbar nav ul:last-child > li > div.basketItems > div.items div.goBasket a {
  width: 50%;
  font-size: 14px;
  padding: 1em;
  border-radius: 10px;
  margin-left: 0;
}

.navbar nav ul:last-child > li > div.basketItems .NoBasketItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.navbar nav ul:last-child > li > div.basketItems .NoBasketItem span {
  width: 7vw;
  background-image: url(../imgs/basket.png);
  background-size: cover;
  height: 5.5vw;
}

.dropdown {
  position: relative;
}

.dropdown a:hover ~ ul.dropDownMenu {
  -webkit-animation: showDropDown 0.5s forwards;
          animation: showDropDown 0.5s forwards;
}

.dropdown ul.dropDownMenu {
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em 2em;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 1em;
  border: 1px solid #fff;
  margin-right: 2em;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  visibility: hidden;
  z-index: 900;
}

.dropdown ul.dropDownMenu:hover {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.dropdown ul.dropDownMenu > li.item {
  margin: 0.5em;
  width: 100%;
}

.dropdown ul.dropDownMenu > li.item a {
  width: 100%;
}

.dropdown ul.dropDownMenu > li.item a:hover {
  color: #320afa;
}

.dropdown ul.dropDownMenu > li.item ul {
  background-color: #eeeeee;
  padding: 1em 2em;
  margin-top: -2em;
  margin-right: 3.5em;
  z-index: 999;
}

.dropdown ul.dropDownMenu > li.item ul:hover {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

@-webkit-keyframes showDropDown {
  0% {
    visibility: visible;
  }
  100% {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes showDropDown {
  0% {
    visibility: visible;
  }
  100% {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.searchBox {
  position: relative;
}

.searchBox input {
  width: 25vw;
  background-color: #eee;
  border: none;
  outline: none;
  padding: 1em;
  border-radius: 2em;
}

.searchBox input::-webkit-search-decoration, .searchBox input::-webkit-search-cancel-button, .searchBox input::-webkit-search-results-button, .searchBox input::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.searchBox input:valid ~ label {
  display: none;
}

.searchBox button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.searchBox label, .searchBox button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.searchBox label {
  font-size: 14px;
  right: 1em;
  margin-right: 1em;
  opacity: 0.7;
  pointer-events: none;
}

.searchBox button {
  padding: 1em 0;
  left: 1em;
  margin-left: 1em;
}

.searchBox button:hover {
  -webkit-transform: translateY(-50%) scale(1.2);
          transform: translateY(-50%) scale(1.2);
}

hr {
  width: 95%;
  margin: 0 auto;
  opacity: 0.7;
}

.cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1em 0;
  width: 100%;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.cards-container .card {
  background-color: #fff;
  width: 30%;
  max-width: 300px;
  min-width: 280px;
  height: 370px;
  border-radius: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  margin: 0.5em;
  position: relative;
  overflow: hidden;
  padding: 0;
}

.cards-container .card:hover .content .bookmark {
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
  opacity: 1;
}

.cards-container .card .cardImage {
  width: 100%;
}

.cards-container .card .cardImage img {
  width: 100%;
}

.cards-container .card .content {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 1em;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cards-container .card .content .title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #000;
  text-decoration: none;
  font-size: 20px;
}

.cards-container .card .content > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 95%;
  margin: 1em auto;
}

.cards-container .card .content .price-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards-container .card .content .price-container svg {
  margin-left: 0.5em;
}

.cards-container .card .content .price-container .price {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cards-container .card .content .price-container .real-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cards-container .card .content .price-container .real-price s {
  width: 100%;
  text-align: center;
  opacity: 0.5;
  font-size: 14px;
}

.cards-container .card .content .price-container .real-price span {
  margin-right: 0.5em;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 0 1em;
  background-color: #FF455B;
  color: #fff;
  border-radius: 1em;
  font-size: 0.8em;
}

.cards-container .card .content .price-container strong {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.cards-container .card .content .stars {
  margin-top: 0.5em;
  stroke: #E5EA00;
}

.cards-container .card .content .stars .filled {
  fill: #E5EA00;
  stroke: none;
}

.cards-container .card .content .bookmark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  text-decoration: none;
  margin-right: auto;
  position: absolute;
  top: 0;
  left: 1em;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0;
  padding: 0.5em;
  z-index: 9;
  -webkit-transition: opacity .3s,stroke 0.5s , -webkit-transform 0.3s;
  transition: opacity .3s,stroke 0.5s , -webkit-transform 0.3s;
  transition: transform 0.3s , opacity .3s,stroke 0.5s;
  transition: transform 0.3s , opacity .3s,stroke 0.5s , -webkit-transform 0.3s;
}

.cards-container .card .content .bookmark span {
  margin-top: 0.5em;
}

.cards-container .card .content .bookmark svg {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  stroke: #0055FF;
}

.cards-container .card .content .bookmark:hover > svg {
  stroke: #0047D6;
}

footer {
  padding: 1em 5em !important;
}

footer section:first-child h4 {
  margin-right: -2em;
}

footer section:first-child li {
  margin-bottom: 0.5em;
}

footer .dl-app a {
  text-decoration: none;
  margin: 0.5em 0;
  border-radius: 0.5em;
  color: black;
  background-color: #DBDBDB;
  padding: 1em 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

footer .dl-app a::before {
  color: black;
  content: "دانلود اپلیکیشن از";
  position: absolute;
  top: 10px;
  right: 2em;
  font-size: 10px;
  font-weight: bold;
}

footer .dl-app a h4 {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-left: 1em;
  width: 50%;
}

footer button[type=submit] {
  background-color: transparent;
  padding: 0;
  margin: 0;
}
/*# sourceMappingURL=style.css.map */